@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Montserrat:wght@400;500;700;900&display=swap');

* {
    box-sizing: border-box;
}

body{
    padding:0;
    margin: 0;
    font-family: Montserrat;
    
}

.container{
    border:none;
    margin:none;
}

#p{
    font-size: 35px;
    font-weight:bold;
}

#tt{
    text-align:center;
    font-size:18px;
    color:#ffffff;
    font-weight:700;
}

/*------ Login Section ------*/

.login-left{

    text-align: justify;
    padding-top: 35%;
    text-align:center;
    background-color:#ffffff;
    padding-bottom: 35%;
}

.login-right{
    text-align: justify;
    padding-top:10%;
    padding-bottom:10%;
    flex-direction:column;
    justify-content:center;
    background-color:#de080f;
    
}

.book{
    font-size:20px;
}

.log{
    text-align: center;
    font-size:20px;
    color:#ffffff;
}

.form-item,.login-form-footer{
    text-align: center;
    font-size:medium;
}


.login-form-content{
    font-size:15px;
    padding-left:50px;
    padding-right:50px;
    color:#ffffff;
    font-weight:500;
}

.login-form-footer a {
    padding: 10px;
    border-radius:30px;
    margin:10px;
    
    text-align: center;
    line-height: 60px; 
    
    color:#ffffff;
    font-weight:500;
    font-size:12px;
    align-content:center;
    
}

.login-form-footer a img {
    vertical-align: middle;
    margin-bottom: 5px;
    margin-right:5px;
}

.login-form-footer a {
    
    background-color: #ffffff;
    color: #111;
    text-decoration:none;
}

.field{
    padding-left:35px;
    text-align:left;
    padding-bottom:10px;
    padding-top:20px;
}

.input{
    height:40px;
    width:90%;
    border: none;
    outline:none;
    border-radius:30px;
    text-align:center;
    font-family: Montserrat;
    font-weight:bold;
    background-color:#de080f;
    color:#ffffff;
    border: 2px solid #ccc;
}

::placeholder{
    color:#ffffff;
    opacity:.5;
}

.button{
    height:40px;
    width:50%;
    border: 2px solid;
    outline:none;
    border-radius:30px;
    text-align:center;
    font-family: Montserrat;
    font-weight:bold;
    background-color:#ffffff;
    color:#de080f;
    
}

button:hover{
    background-color:#de080f;
    transition: 0ms;
    border:2px solid #ffffff;
    color: #ffffff;
}

.rem{
    width:15px;
    height:15px;
    vertical-align: middle;
    margin-bottom: 7px;
    margin-right:5px;
}

/*------ Team Section ------*/

.tag{
    padding-top:10%;
    border:none;
    justify-content:center;
    text-align:center;
    margin: 0 30px 0;
    color:#ffffff;
}

.team{
    background-color:#064635;
    height:100vh;
    width:100%;
}

#name{
    font-size: 15px;
}

#arnab,#sourav{
    width:100px;
}
#sahil,#subham{
    width:100px;
}
#subhra,#soumyajit{
    width:100px;
}

.team-left{
    display:flex;
    justify-content:center;
    background-color:#064635;

    padding-top:0%;
    padding-bottom:20%;
}

.team-right{
    padding-top:1%;
    margin:30px;
    text-align:justify;
    justify-content:center;
    background-color:#ffffff;
    padding-bottom:10%;
}

.box{
    width:max-content;
    text-align:center;
    padding-bottom: 5px;
    background-color:#064635;
    margin:30px 20px 30px;
    border:2px solid #ffffff;
}


#name{
    color:#ffffff;
}

#msg{
    
    font-size:35px;
    text-align:center;
    color:#064635;
}

#tp{
    line-height:1.5;
    font-size:16px;
    color:#064635;
    font-weight:500;
}





/*------Responsive Web------*/

@media(min-width:1000px){
    

    #p{
        font-size: 40px;
        font-weight:bold;
    }
    

    /*------Login Section------*/

    .container{
        display:flex; 
    }

    .login-left,.login-right{
        height:100vh;
        width:100%;
    }
    .par{
        font-size:20px;
    }
    .login-form-footer{
        font-size:15px;
    }
   .book,.log{
        font-size:30px;       
    }

    .login-left{
        padding-top:15%;
        font-weight:900;
    }

    .login-right{
        padding-top:8%;
        font-weight:900;
    }

    .field{
        padding-left:100px;
        text-align:left;
        padding-bottom:10px;
        padding-top:20px;
        font-size:18px;
    }

    .input{
        font-size:16px;
    }

    /*------Team Section------*/

    #arnab,#sourav{
        width:200px;
    }
    #sahil,#subham{
        width:200px;
    }
    #subhra,#soumyajit{
        width:200px;
    }

    .list{
        background-color:#064635;    
        width:100%;
        display:flex;
    }
    
    .up,.down{
        padding-top:15px;
        justify-content:center;
        width:100%;
        display:flex;
    }
    
    .team-left{
        margin:40px;
        width:50%;
        text-align:center;
        border-radius:10px;
        border:3px solid#ffffff;
        margin-bottom:0px;
        display:block;
        background-color:#ffffff;
        justify-content:center;
        padding-bottom:10px;
    }

    .team-right{
        background-color:#064635; 
        padding-top:40px;
        margin:0px;
        padding:0px;
        width:50%;
    }

    .team-vision{
        padding-top:5%;
    }

    .box{
        width:max-content;
        height:280px;
        text-align:center;
        padding-bottom: 5px;
        background-color:#519259;
        margin:10px 20px 10px;
        border-radius: 10px;
        border:3px solid #ffffff;
    }

    .box img{
        border-radius:5px 5px 0 0;
    }

    #name{
        padding-top:10px;
        font-size: 20px;
        text-align:center;
        margin: 0 0px 0;
        color:#ffffff;
    }

    #msg{
        margin-top:80px;
        padding-bottom:5px;
        padding-right:70px;
        font-size: 40px;
        text-align:center;
        color:#ffffff;
    }

    #tp{
        line-height: 2;
        font-size:16px;
        text-align:justify;
        margin:0px 100px 50px 50px; 
        color:#ffffff;
        font-weight:400;
    }

    #tc{
        text-align:center;
        font-size:18px;
        color:#ffffff;
        font-weight:700;
    }

}
